div.header{
    background-color: rgb(255, 115, 0);
    font-family: Tahoma;
}

div.intro{
    top:50%;
    left: 40%;
    position: absolute;
    height: 160px;
    width: 350px;
    margin: 0;
    background-color: rgb(255, 115, 0, .6);
    text-align: center;
    color: black;
    font-size: 18px;
}

div.portfolio{
    background-color: rgb(255, 115, 0);
    text-align: center;
}

div.zaposlenici{
    background-color: rgb(255, 115, 0);
    text-align: center;
}

div.about{
    background-color: rgb(255, 115, 0);

}

table{
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
    color : black;
    font-family: monospace;
    font-size: 25px;
    text-align: left;
}

th{
    background-color: rgb(255, 81, 0);
    color: black;
}
tr:nth-child(even){
    background-color: rgb(224, 37, 12);
}
tr:nth-child(odd){
    background-color: rgb(255, 50, 14);
}

div.body{
    background-image: url("https://www.klikcup.com/images/slider/Osijek6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 650px;
}

#main{
    font-size: 14px;
    font-family: Georgia;
    color: white;
    text-align: center;
}

.fixed{
    position: fixed;
    bottom:90px;
    opacity: 0.4;
}

div.footer{
    text-align: center;
    font-size: 18px;
    color: rgb(255, 81, 0);
    background-color: rgb(5, 5, 5)
}

div.collapse{
    font-size: 16px;
    font-family: Verdana;
}

div.about{
    font-size: 16px;
    text-align: center;
    font-family: Tahoma;
}

.col-sm-6 h3{
    color: rgb(0, 0, 0);
}

#time{
    background-color: whitesmoke;
}

div.col-sm-9{
    color: rgb(5,5,5);
    text-align: left;
}